@model TravelAlly.ViewModels.MapOutputViewModel

@{
	ViewData["Title"] = "Map";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>
<body>
	<h2>Map</h2>
	<p>Here, you can view the map of all stations and routes saved in this instance's database.	It may take	some time to load if there are many	records.</p>

	<div id="map">
		<script type="text/javascript">
			var map = L.map("map").setView([30.60, 5.80], 3);
			L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			@foreach (var item in Model.Stations)
			{
				<text>
				var	marker = L.marker([@item.Lat, @item.Lon]).addTo(map);
				marker.bindPopup("<b>@item.Name</b>\
				<br><b>Accepts Transport</b>: @item.AcceptsTypes\
				<br><b>Coordinates</b>:	@item.Lat, @item.Lon\
				<br>@item.City.Country,	@item.City.Continent");
				</text>
			}

			var	points = [];

			@foreach (var item in Model.TransportRoutes)
			{
				<text>
				var	points;
				</text>
				
				@foreach (var sp in item.StationPassings)
				{
					<text>
					points.push([@sp.Station.Lat, @sp.Station.Lon]);
					</text>
				}

				<text>
				var	polyLine = L.polyline(points);
				polyLine.bindPopup("<b>@item.Carrier</b><br>\
				<b>Route Code</b>: @item.RouteCode<br>\
				<b>Transport Type</b>: @item.Type<br>\
				<b>Route Type</b>: @item.RouteType<br>\
				<b>Operates	on Days</b>: @item.OperatesOnDays<br>\
				<b>Origin</b>: @item.StationPassings[0].Station.Name<br>\
				<b>Destination</b>:	@item.StationPassings[item.StationPassings.Count-1].Station.Name");

				polyLine.addTo(map);
				points.length = 0;
				</text>
			}

		</script>
	</div>
</body>

