@model TravelAlly.ViewModels.RoutePlannerResultViewModel;
@{
	ViewData["Title"] = "Find Route";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>


</head>
<body>
	<h2>Find Route</h2>
	<p>Travelling from <b>@Model.OriginCityName</b> to <b>@Model.DestinationCityName</b>, leaving at @Model.DepartureTime.</p>
	@if (Model != null)
	{
		<h3>Route(s) Found</h3>
		<h4>@Model.Transport.StationPassings[0].DepartureTime <b>@Model.Transport.StationPassings[0].Station.Name</b> -->  @Model.Transport.StationPassings[Model.Transport.StationPassings.Count-1].ArrivalTime <b>@Model.Transport.StationPassings[Model.Transport.StationPassings.Count-1].Station.Name</b></h4>

		<table>
			@foreach (var sp in Model.Transport.StationPassings)
			{
				<tr>
					@if (sp.Station.City.Name == Model.OriginCityName || sp.Station.City.Name == Model.DestinationCityName)
					{
						<th style="font-weight:	bold;">@sp.Station.Name</th>
					}
					else
					{
						<th style="font-weight:	normal;">@sp.Station.Name</th>
					}

					@if (sp.ArrivalTime == null)
					{
						<th>[<i> START </i>] :</th>
					}
					else
					{
						<th>@sp.ArrivalTime.Value.ToString("HH:mm")	: </th>
					}

					@if (sp.DepartureTime == null)
					{
						<th>[<i> TERMINATES </i>]</th>
					}
					else
					{
						<th>@sp.DepartureTime.Value.ToString("HH:mm") </th>
					}
				</tr>
			}
		</table>
	}
	else
	{
		<h3>No Routes Found</h3>
		<p>Unable to find suitable routes between the two cities. The database may not have sufficient records.</p>
	}
</body>
